h1{
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: #d567af;
    font-weight: 400;
    font-style: normal;
}

.pink-border{
    border-color: #d567af;
    border-style:double;
    height: 2px;
    background-color: #d567af;
}

h2{
    color: #ea7fc5;
    text-align: center;

}

.maincontainer{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-bottom: 50px;
}

.fact1{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.fact2{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.fact3{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.bottom{
    display:flex;
    justify-content: space-between;
    padding-right: 50px;
}

.links{
    /* display: flex;
    justify-content: flex-end;
    align-self: center; */
}

.tatelink{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.button{
    padding: 15px 32px;
    font-size: 16px;
    background-color: #d567af;
    color: white;
    border-color: palevioletred;
}